<!DOCTYPE html>
<html lang="en" class="mdl-js">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="assets/favicon.ico" rel="icon">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/styles.css" rel="stylesheet">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <title>Codebreaker Web</title>
</head>

<body>
<section id="introduction">
  <div class="container">
    <div class="row fill-viewport align-items-center justify-content-center">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-md-auto">
            <h1 class="text-white title">Codebreaker 2022</h1>
          </div>
        </div>
        <p class="lead text-white-70"> Game Rules</p>

        <hr class="mb-4">
        <p class="lead text-white-70"> So rules are really simple. CodeMaker generating code. You should break it:</p>
        <p class="lead text-white-70"> Secret code consist of 4 digits, you should guess it correctly</p>
        <p class="lead text-white-70"> You enter code, in result you get symbols like "+", "-" or " "</p>
        <p class="lead text-white-70"> "+" means that digit is exist and in the right position</p>
        <p class="lead text-white-70"> "-" means the digit exist but not in the right position</p>
        <p class="lead text-white-70"> " " means the digit is not exist</p>
        <p class="lead text-white-70"> You have only few attempts and hint so be really patient</p>
        <hr class="mb-4">
        <a class="btn btn-primary btn-lg" href="/" role="button">
          Home
        </a>
    </div>
  </div>
  </div>
</section>
</body>
</html>